<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Website Analyzer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Website Chooser</a></li>
          <li><a href="#">Data Analyser</a></li>
          <li><a href="#">Keyword Analyser</a></li>
        </ul>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <div class="details">
        <h2>Details</h2>
        <div id="result"></div>
      </div>
    </div>
  </body>
</html>